**/__pycache__/
*.py[cod]
**/harness/build/

kernel_development/drivers/reconstructed/**/*.o
kernel_development/drivers/reconstructed/**/*.mod
kernel_development/drivers/reconstructed/**/*.mod.c
kernel_development/drivers/reconstructed/**/.Module.symvers.cmd
kernel_development/drivers/reconstructed/**/.modules.order.cmd
kernel_development/drivers/reconstructed/**/modules.order
kernel_development/drivers/reconstructed/**/Module.symvers
kernel_development/drivers/reconstructed/**/.*.cmd
